In [1]:
import numpy as np
import pandas as pd
# MAPE implemented in latest versions of SKLEarn
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /Users/tomaszosuchowski/opt/anaconda3/lib/python3.9/site-packages (0.24.2)
Collecting scikit-learn
  Downloading scikit_learn-1.3.0-cp39-cp39-macosx_10_9_x86_64.whl (10.2 MB)
     |████████████████████████████████| 10.2 MB 578 kB/s eta 0:00:01
Collecting joblib>=1.1.1
  Downloading joblib-1.3.1-py3-none-any.whl (301 kB)
     |████████████████████████████████| 301 kB 684 kB/s eta 0:00:01
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/tomaszosuchowski/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=1.5.0 in /Users/tomaszosuchowski/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.7.1)
Requirement already satisfied: numpy>=1.17.3 in /Users/tomaszosuchowski/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.20.3)
Installing collected packages: joblib, scikit-learn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.24.2
    Uninstalling scikit-learn-0.24.2:
      Successfully uninstalled scikit-learn-0.24.2
Successfully installed joblib-1.3.1 scikit-learn-1.3.0

In [3]:
from sklearn.metrics import mean_absolute_percentage_error, \
mean_absolute_error, r2_score, mean_squared_error

In [4]:
!wget  -nc https://lazyprogrammer.me/course_files/SPY.csv

--2023-07-10 22:25:17--  https://lazyprogrammer.me/course_files/SPY.csv
Resolving lazyprogrammer.me (lazyprogrammer.me)... 172.67.213.166, 104.21.23.210
Connecting to lazyprogrammer.me (lazyprogrammer.me)|172.67.213.166|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 251935 (246K) [text/csv]
Saving to: ‘SPY.csv’

SPY.csv             100%[===================>] 246.03K   165KB/s    in 1.5s

2023-07-10 22:25:21 (165 KB/s) - ‘SPY.csv’ saved [251935/251935]

In [5]:
df = pd.read_csv('SPY.csv', index_col='Date', parse_dates=True)

In [6]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800

In [7]:
df['ClosePrediction'] = df['Close'].shift(1)

In [8]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,ClosePrediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002

In [9]:
y_true = df.iloc[1:]['Close']
y_pred = df.iloc[1:]['ClosePrediction']

In [10]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,ClosePrediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002

In [12]:
df['ClosePrediction'] = df['Close'].shift(periods =1)

In [14]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,ClosePrediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002

In [16]:
# SSE (Sum of Squared Errors)
(y_true - y_pred).dot(y_true - y_pred)

6330.374289492605

In [17]:
#MSE (Mean Squared Error)
mean_squared_error(y_true, y_pred)

2.798573956451196

In [18]:
#MSE
(y_true - y_pred).dot(y_true - y_pred)/len(y_true)

2.798573956451196

In [19]:
#MAE 
mean_absolute_error(y_true, y_pred)

1.1457559803120336

In [22]:
#RMSE root mean squared error
mean_squared_error(y_true, y_pred, squared=False)

1.672893886787562

In [21]:
#RMSE again
np.sqrt((y_true - y_pred).dot(y_true - y_pred)/len(y_true))

1.672893886787562

In [23]:
# R^2
r2_score(y_true, y_pred)

0.9989603259063914

In [24]:
#MAPE mean absolute percentage error
mean_absolute_percentage_error(y_true, y_pred)

0.006494073151422373

In [25]:
#sMAPE symmetrical mean absolute percentage error

def smape(y_true, y_pred):
    numerator = np.abs(y_true - y_pred)
    denominator = (np.abs(y_true)+ np.abs(y_pred))/2
    ratio = numerator / denominator
    return ratio.mean()
smape(y_true, y_pred)

0.006491365814068418